POSTGRES_DB=local_ai_workspace
POSTGRES_USER=local_ai
POSTGRES_PASSWORD=local_ai_dev
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/local_ai_workspace
DB_USERNAME=local_ai
DB_PASSWORD=local_ai_dev
