HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Visual Studio Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/
.springBeans
.sts4-cache/

### OS ###
.DS_Store
Thumbs.db

### Local environment ###
.env
